<h3>Recipients</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <% @recipients.get_all(session[:token]).each do |recipient| %>
    <tr>
      <td><%= recipient["id"] %></td>
      <td><%= recipient["name"] %></td>
    </tr>
  <% end %>
</table>

<h3>Payments</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Recipient ID</th>
    <th>Status</th>
  </tr>
  <% @payments.get_all(session[:token]).each do |recipient| %>
    <tr>
      <td><%= recipient["id"] %></td>
      <td><%= recipient["amount"] %></td>
      <td><%= recipient["currency"] %></td>
      <td><%= recipient["recipient_id"] %></td>
      <td><%= recipient["status"] %></td>
    </tr>
  <% end %>
</table>

<h3>Create Recipient</h3>
<form action="/create-recipient" method="post">
  Full name:<br>
  <input type="text" name="fullname"><br>
  <input type="submit" value="Create">
</form>

<h3>Create Payment</h3>
<form action="/create-payment" method="post">
  Recipient ID:<br>
  <input type="text" name="recipient_id"><br>
  Amount:<br>
  <input type="text" name="amount"><br>
  Currency:<br>
  <input type="text" name="currency"><br>
  <input type="submit" value="Create">
</form>
