<h3>Payments</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Recipient ID</th>
    <th>Status</th>
  </tr>
  <% @payments_to_display.each do |payment| %>
    <tr>
      <td><%= payment["id"] %></td>
      <td><%= payment["amount"] %></td>
      <td><%= payment["currency"] %></td>
      <td><%= payment["recipient_id"] %></td>
      <td><%= payment["status"] %></td>
    </tr>
  <% end %>
</table>

<h3>Create Payment</h3>
<form action="/payments/create" method="post">
  Recipient ID:<br>
  <input type="text" name="recipient_id"><br>
  Amount:<br>
  <input type="text" name="amount"><br>
  Currency:<br>
  <input type="text" name="currency"><br>
  <input type="submit" value="Create">
</form>

<h3>Search Payment</h3>
<form action="/payments/search" method="post">
  Payment ID:<br>
  <input type="text" name="payment_id"><br>
  <input type="submit" value="Search">
</form>

<a href="/">Home</a>
